<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Fifty Apps Project</h2>
                <hr class="light">
                <p class="text-faded">WeWorkz was created by John Espinosa as one of the applications for the fifty apps project. A project in which the goal is to learn development by building meaningful projects.</p>
                <a href="#" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
