<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Visit WeWork alot?</h1>
            <hr>
            <p>We'll keep track of all the locations you've visited, so you can see where you stack up against all the other wework fans!</p>
            <a href="#tracker" class="btn btn-primary btn-xl page-scroll">Tracker</a>
        </div>
    </div>
</header>

