<section class="bg-primary" id="leaderboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Leaderboard</h2>
                <hr class="light">
                <p class="text-faded">Here are the current standings</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
